:root{
    --body-m:1rem;
    --content-width:80rem;
    --content-width2:82rem;
    --body-font:'Inter', sans-serif;
    --g-red:linear-gradient(94.12deg, #651E55 18.35%, #5E3535 86.47%);

}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;     
}

.Prose {
    display: grid;
    grid-template-columns: [full-start] minmax(var(--body-m), 1fr) [main-start] minmax(0, var(--content-width)) [main-end] minmax(var(--body-m), 1fr) [full-end];
    grid-auto-rows: max-content;
}

.Prose > * {
  grid-column: main;
}

.container{
    max-width: var(--content-width2);
    margin: auto;
    width: 100%;
    padding-left:  var(--body-m);
    padding-right:  var(--body-m);
}

.Prose-splash {
    grid-column: full;
}

main{
    flex-grow: 1;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {    
    font-family: var(--body-font);
    font-weight: 400;
    overflow-y: scroll;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

button {
    font-family: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    border: none;
    resize: none;
    background: none;
}

input {
    font-family: inherit;
}

.btn{     
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    padding: 6px 8px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 120%;    
}

.btn_outline{
    background:   linear-gradient(to right, white, white) padding-box, var(--g-red) border-box;
    border-radius: 8px;
    border: 1.5px solid transparent;      
}

.input_dashed{   
    border-radius: 8px;
    border: 1.5px solid rgb(80, 12, 12);  
    border-style: dashed;
}

img{
    display: block;
}

.font_xs{    
    font-weight: 400;
    font-size: .75rem;
    line-height: 125%;
    color: #8A8A8A;
}
.font_sm{    
    font-weight: 500;
    font-size: .875rem;
    line-height: 125%;
}

.h2{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 125%;
}

.font_lg{    
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 125%;
}

.font{    
    font-weight: 500;
    font-size: 1rem;
    line-height: 125%;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem 3rem;
    padding: 1rem 2.5rem; 
    flex-wrap: wrap;
}

.search_box{
    display: flex;
    align-items: center;
    flex-grow: 1;
    background:   linear-gradient(to right, white, white) padding-box, var(--g-red) border-box;
    border-radius: 8px;
    border: 1.5px solid transparent;  
    padding: 4px 15px;
    border-radius: 16px;
    overflow-x: hidden;
}

.icon{
    flex-shrink: 0;
}

header .btn_box{
    margin-left: auto;    
}

.btn_box{
    display: flex;
    gap: 16px;
}

.search_box input{
    flex-grow: 1; 
    flex-shrink: 1;    
}

.video_box{
    display: grid;
    grid-template-columns: [full-start]repeat(auto-fit, minmax(248px, 1fr) ) [full-end];
    column-gap: 10px;
    row-gap: 30px;
}

video{
    content: " ";
    cursor: pointer;
    border-radius: 4px;
}

.close_modal{
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(2) translate(-1rem, .75rem);
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 55;
    backdrop-filter: brightness(0.5) blur(7px);
}

.modal{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 2rem);
    max-width: 550px;
    background-color: white;
    z-index: 100;    
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    gap: 1rem;
}

.add_video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 40px;
}

.input_file{
    cursor: pointer;
}

.modal form, .add_video form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.input{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    padding: 6px 8px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 120%;    
}

.logo{
    flex-shrink: 0;
}

.input_outline{
    background:   linear-gradient(to right, white, white) padding-box, var(--g-red) border-box;
    border-radius: 8px;
    border: 1.5px solid transparent;  
}

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-between{
justify-content: space-between;
}

.video_box>.item>video{
    aspect-ratio: 16 / 9; 
    width: 100%;  
    display: block;
}

.like{
    margin-right: 6px;
}

.video_box .content {
    display: flex;
    column-gap: 1.25rem;
    margin-top: .5rem;
}

.video_box .content .text{
    flex-grow: 1;
}

.video_box .content p{
    margin-bottom: 4px;
}

.add{
    justify-self: center;
}

.description_chanel{
    display: flex;
    gap: 1rem 6rem;
    padding-bottom: 25px;
    flex-wrap: wrap;
}

.description_chanel .description{
    max-width: 40rem;
    width: auto;
    min-width: 20rem;
}

.description_chanel .headling{
    display: flex;
    flex-direction: column;
    column-gap: .25rem;
}

.views_box{
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr max-content;
}

.views_box .video_box{
    max-height: calc(100vh - 90px);
    overflow-y: scroll;
}

.views_box .video_box::-webkit-scrollbar{
    width: 0px;
}

.views_box video{
    width: 100%;
}

.views_box .update{
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid #8b8b8b;
    border-top: 1px solid #8b8b8b;
    padding: 21px 0;
    flex-wrap: wrap;
}

.views_box .description{
    display: flex;
    gap: 1rem;
    padding-top: 1rem;    
    align-items: flex-start;
}


.views_box .description img{
    width: 50px; 
    height: auto;
    flex-shrink: 0;
}

.views_box .description .text{
   max-width: 40rem;
}

.views_box .update form{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.views_headling{
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: 16px 0;
}

.views_headling img{
    display: flex;    
}

.views_headling .h2{
    margin-right: auto;    
}

@media screen and (max-width:989px) {
    .views_box{        
        grid-template-columns: 1fr ;
    }
}

@media screen and (max-width:649px) {
    header{
        flex-direction: column;
        gap: 16px;
    }
    header .btn_box{
        margin: auto;    
    }

    
}